mixin form()
  +b.FORM.form&attributes(attributes)
    block

mixin inputbox()
  .inputbox&attributes(attributes)
    block

mixin input()
  input.input&attributes(attributes)

mixin label()
  p.label&attributes(attributes)
    block

mixin textarea()
  textarea.textarea.js-autosize&attributes(attributes)
    block

mixin select()
  select.select&attributes(attributes).js-select
    block

mixin checkbox(name, value, checked, required)
  +b.LABEL.checkradio&attributes(attributes)
    +e.INPUT.input(name=name, value=value, checked=checked, required=required, type="checkbox")
    +e.SPAN.box
    +e.SPAN.content
      block

mixin radio(name, value, checked, required)
  +b.LABEL.checkradio&attributes(attributes)
    +e.INPUT.input(name=name, value=value, checked=checked, required=required, type="radio")
    +e.SPAN.box
    +e.SPAN.content
      block
